<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading...</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body> 
    <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExbTUwdGpxd3FoeW5icGR3N2IzM3ZyOTlwajdhbWF2MWd3OTQzcXdhNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/QzgvhBV61rhFe47Adz/giphy.gif" width="1800" height="1000">
    <div class="loader"></div>
  
     <script>
        setTimeout(() => {
            window.location.href = '/Movies'; // Redirect to landing page after some time
        }, 4000); // 3 seconds delay
    </script> 
</body>
<script>
     body {
        background - color: black; /* Set background color to black */
        color: white; /* Set text color to white for better contrast */
    }
    .container {
        margin: auto;
        max - width: 600px;
        padding: 20px;
    }
</script>
</html>
